# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment
.env
.env.*

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Python build
backend/build/
backend/dist/
*.spec

# Frontend
frontend/node_modules/
frontend/dist/

# Electron
desktop/electron/node_modules/
desktop/electron/dist/
desktop/release/

# Logs
*.log

# IDE
.vscode/
.idea/
